.ant-input {
  padding: 16px;
  height: 50px;
  max-height: 100%;
  border-radius: 10px;
  background-color: var(--clr-gray-500);
  border-color: var(--clr-gray-500);
  &:hover {
    border-color: var(--clr-primary);
  }
  &:focus {
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 2px rgba(var(--clr-primary), 0.1);
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--clr-gray-600);
    opacity: 0.7;
  }
}
.ant-input-affix-wrapper {
  background-color: var(--clr-gray-500);
  border-color: var(--clr-gray-500);
}
.ant-input-affix-wrapper-focused {
  &.ant-input-affix-wrapper-focused {
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 2px rgba(var(--clr-primary), 0.1);
  }
}
.ant-input-affix-wrapper {
  &.ant-input-affix-wrapper {
    &:hover {
      border-color: var(--clr-primary);
    }
  }
}
