:root {
  --clr-primary: #605bff;
  --clr-background: #fafafb;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-red: #d11a2a;
  --clr-orange: #ff8f6b;
  --clr-cyan: #26c0e2;
  --clr-green: #3a974c;
  --clr-yellow: #ffd66b;
  --clr-pink: #ff6a77;

  //   gray-shades
  --clr-gray-500: #f7f7f8;
  --clr-gray-600: #030229;
}
