:root {
  --clr-primary: rgb(96, 91, 255);
  --clr-background: rgb(250, 250, 251);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-red: rgb(209, 26, 42);
  --clr-orange: rgb(255, 143, 107);
  --clr-cyan: rgb(38, 192, 226);
  --clr-green: rgb(58, 151, 76);
  --clr-yellow: rgb(255, 214, 107);
  --clr-pink: rgb(255, 106, 119);

  /* Gray Shades */
  --clr-gray-500: rgb(247, 247, 248);
  --clr-gray-600: rgb(3, 2, 41);
}
