@use "./reset";
@use "./components/index";
@use "./variables";
@use "../styles/layouts/auth-layout";
@use "../styles/layouts/admin-layout";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", serif;
  background-color: var(--clr-background);
  ::selection {
    background: var(--gray-300);
    color: var(--black);
  }
}
